<article id="{{ chapter_id }}v#">
    <header>
        <h3 class="verse" id="#">
            #<br>
            
        </h3>
    </header>

    <section>
        <p class="comment">
            <blockquote class="scripture">
                <cite><a href="{{ base_path }}Book/32/#15">Book 32:15</a></cite><br>
                
            </blockquote>

            <blockquote class="external">
                <cite><a href="#">The Historical Background of The Ancient Scroll</a></cite><br>
                
            </blockquote>
        </p>
    </section>
</article> <!-- {{ chapter_id }}v# -->

